@font-face {
  font-family: "foo-font";
  src: url("./fonts/foo-font.eot");
  src: url("./fonts/foo-font.eot?#iefix") format("eot"), url("./fonts/foo-font.woff2") format("woff2"), url("./fonts/foo-font.woff") format("woff"), url("./fonts/foo-font.ttf") format("truetype"), url("./fonts/foo-font.svg#foo-font") format("svg"); }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "foo-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.iconfoo-home {
  content: "\E001"; }

.iconfoo-house2 {
  content: "\E002"; }

.iconfoo-web-page-home {
  content: "\E003"; }
