doctype html
html(lang="en")
  head
    title Preview incons
    link(rel="stylesheet", href="./icons/icons.css")
    link(rel="stylesheet", href="main.css")
  body
    - let classIcon = dataFont.cssClass + ' ' + dataFont.cssClass + '-'
    each prop, index in dataFont.glyphs
      .box
        i(class=classIcon + prop.name)
        code='.' + classIcon + prop.name